@import "tailwindcss";

@theme {
  --color-primary: #39516f;
  --color-secondary: #e5e9ed;
  --color-bg: #faf5ed;
  --color-overlay-light: #e5e9ed; /*Det er den samme som vores secondary-color men gjorde det for sorterings-mæssige grunde  */
  --color-overlay-dark: #472e30;
  --color-ui-box: #f1f1f1;
  --font-display: "Flama", sans-serif;
}

body {
  background-color: #800000; /*midlertidig baggrundsfarve som vi har sat ind på undersiderne, indtil vi havde de animerede baggrunde */
}

@font-face {
  font-family: "Flama";
  src: url("./assets/fonts/flamatrial-book.otf") format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: "Flama";
  src: url("./assets/fonts/flamatrial-basic.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "Flama";
  src: url("./assets/fonts/flamatrial-semibold.otf") format("opentype");
  font-weight: 600;
}

.animate-ping {
  animation-duration: 2s;
}

.quarter-circle {
  border-radius: 0 0 100% 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
